# Reusable template for ClickOnce environment publish (Dev/Prod)

# Run this in the main branch after a successful clickOnceNetBuildAndTest.yml
# That will create the pipeline artifact that will be used here with - download: current in the yml

parameters:
  - name: environmentName
    type: string
    default: POC
    values:
      - POC
      - TST
      - REL
      - PRD
  - name: artifactName
    type: string
  - name: deployRootPath
    type: string

steps:    
  - task: PowerShell@2
    condition: succeeded()
    displayName: "Clean, Move Zip and Unzip artifact to network share for ${{ parameters.environmentName }}"
    inputs:
      targetType: inline
      script: |
        # downloads the artifact to C:\azagent\A2\_work\1\ (which is $(Pipeline.Workspace))
        $basePath = "$(Pipeline.Workspace)\${{ parameters.artifactName}}_${{ parameters.environmentName }}"
        $zipFilePath = "$basePath\${{ parameters.artifactName }}.zip"

        $networkFolderUnzipPath = "${{ parameters.deployRootPath }}"
        $networkFolderZipFilePath = "$networkFolderUnzipPath\${{ parameters.artifactName }}.zip"
        if (Test-Path $networkFolderUnzipPath) {
          # NOTE: you may want to create a backup first, or publish the zip to the build artifact
          Write-Host "Delete Existing $networkFolderUnzipPath files"
          Get-ChildItem -Path $networkFolderUnzipPath | Remove-Item -Recurse -Force

          Write-Host "Copy the zip to $networkFolderUnzipPath"
          Copy-Item -Path "$zipFilePath" -Destination "$networkFolderUnzipPath" -Force

          Write-Host "Unzipping $networkFolderZipFilePath"
          Expand-Archive -Path $networkFolderZipFilePath -DestinationPath $networkFolderUnzipPath -Force
          Write-Host "Files unzipped to $networkFolderUnzipPath"
          # Write-Host "Delete existing Files on Agent in $basePath to save space"
          # if (Test-Path $basePath) {
          #   Get-ChildItem -Path $basePath | Remove-Item -Recurse -Force
          # }
        }
        else {
          Write-Error "Network folder $networkFolderUnzipPath does not exist."
          exit 1
        }
