# Build .Net Web apps with artifacts for deployment
# https://learn.microsoft.com/en-us/azure/devops/pipelines/ecosystems/dotnet-core?view=azure-devops&tabs=yaml-editor
# these can run on ubuntu-latest
# remove the appsettings that aren't for this environment. It got more complicated so I made this version instead of adding to netBuildAndTest.yml

parameters:
  - name: netVersion
    type: string
    default: "10.x"
  - name: buildConfiguration
    type: string
    default: "Release"
  - name: rootFolder
    type: string
  - name: artifactName
    type: string
  - name: isMain
    type: string
    values:
      - "true"
      - "false"
  - name: publishSingleFile
    type: string
    default: "true"
    values:
      - "true"
      - "false"
  # build artifacts for the given environments
  - name: adoEnvironments
    type: string
    default: "Development, Test, Production"

jobs:
  - job: BuildAndTest
    displayName: "Build and Test"
    steps:
      - task: UseDotNet@2
        displayName: "Install .NET SDK"
        inputs:
          version: ${{ parameters.netVersion }}
          performMultiLevelLookup: true
          includePreviewVersions: true
          
      - task: NuGetAuthenticate@1
        displayName: "NuGet Authenticate"
      
      - task: DotNetCoreCLI@2
        displayName: "Restore"
        inputs:
          command: "restore"
          projects: "${{ parameters.rootFolder }}/**/*.csproj"
          feedsToUse: "config"
          # Nuget.config should be at the root of the repo
          nugetConfigPath: 'NuGet.config'

      - task: DotNetCoreCLI@2
        displayName: 'Build With ${{ parameters.buildConfiguration }} Configuration'
        inputs:
          command: build
          projects: '${{ parameters.rootFolder }}/**/*.csproj'
          arguments: '--configuration ${{ parameters.buildConfiguration }}'

      # on Linux, use Coverlet
      - task: DotNetCoreCLI@2
        displayName: "Test"
        inputs:
          command: "test"
          projects: "${{ parameters.rootFolder }}/**/*Tests.csproj"
          arguments: '--configuration ${{ parameters.buildConfiguration }} --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=cobertura'
          publishTestResults: true

      - task: PublishCodeCoverageResults@2
        displayName: "Publish code coverage report"
        inputs:
          codeCoverageTool: "Cobertura"
          summaryFileLocation: "$(Agent.TempDirectory)/**/coverage.cobertura.xml"

    
      # /p:EnvironmentName=Development adds and sets the ASPNETCORE_ENVIRONMENT to the generated web.config that is deployed
      # use Development, Test, Production or add more publish options here
      - ${{ if and(eq(parameters.isMain, 'true'), contains(parameters.adoEnvironments, 'Development')) }}:
        - template: netBuildAndTest_BuildCleanPublish.yaml
          parameters:
            environmentName: 'Development'
            artifactName: ${{ parameters.artifactName }}
            rootFolder: ${{ parameters.rootFolder }}
            buildConfiguration: ${{ parameters.buildConfiguration }}
            publishSingleFile: ${{ parameters.publishSingleFile }}
            removeAppSettings: 'appsettings.Production.json|appsettings.Test.json'

      - ${{ if and(eq(parameters.isMain, 'true'), contains(parameters.adoEnvironments, 'Production')) }}:
        - template: netBuildAndTest_BuildCleanPublish.yaml
          parameters:
            environmentName: 'Production'
            artifactName: ${{ parameters.artifactName }}
            rootFolder: ${{ parameters.rootFolder }}
            buildConfiguration: ${{ parameters.buildConfiguration }}
            publishSingleFile: ${{ parameters.publishSingleFile }}
            removeAppSettings: 'appsettings.Development.json|appsettings.Test.json'

